# -- Environments --
.conda/
envs/*/
venv/

# -- Python --
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
*backup.py
testing.ipynb

# -- Data --
data/*

# -- SQL --
*.sqlite3

# -- Credentials --
.keys
.env

# -- Apple --
.DS_Store
